.container {
  background-color: #fff;
  flex-grow: 1;
  overflow: auto;
}

.smartGrid {
  margin: 24px 40px 0 40px;
}

.columnName {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

.columnValue {
}

/*
if the checkbox exists in the rows,
child's number begin form second position
 */
.columnName:nth-child(2),
.columnValue:nth-child(2) {
  flex-basis: 25%;
  display: flex;
  align-items: center;
}

.columnName:nth-child(3),
.columnValue:nth-child(3) {
  flex-basis: 20%;
}

.columnName:nth-child(4),
.columnValue:nth-child(4) {
  flex-basis: 20%;
}

.columnName:nth-child(5),
.columnValue:nth-child(5) {
  flex-basis: 15%;
}

.columnName:nth-child(6),
.columnValue:nth-child(6) {
  flex-basis: 15%;
}

.columnName:nth-child(7),
.columnValue:nth-child(7) {
  flex-basis: 15%;
}

.columnName:nth-child(8),
.columnValue:nth-child(8) {
  flex-basis: 5%;
}

.columnValue:nth-last-child(1) {
  text-align: end;
}

.row {
  display: flex;
  flex-direction: column;
}

.camText {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #335588;
  margin-bottom: 4px;
  line-height: 18px;
}

.camIP {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #1d1d1b;
  line-height: 12px;
}

.vendor {
  line-height: 15px;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #1d1d1b;
}

.marginBottom4 {
  margin-bottom: 4px;
}

.iconOrange {
  color: #dccf24;
}

.iconRed {
  color: #d05f78;
}

.iconGreen {
  color: #28d02f;
}

.iconBlue {
  color: #95afd0;
}

.iconBlue2 {
  color: #2a4272;
}

.icon {
  position: relative;
  top: 2px;
}

.marginLeftIcon {
  margin-left: 5px;
}
.marginRightIcon {
  margin-right: 8px;
}

.image {
  height: 50px;
  width: 80px;
  margin-right: 11px;
  background-color: #adbac3;
}

.imageIcon {
  height: 16px;
  width: 16px;
}
