.grid {
  min-height: min-content;
  height: 100%;
}

.header {
  font-weight: bold;
  height: 52px;
}

.row {
  height: 74px;
}

.row,
.header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d6dce7;
}

.defaultDimensions > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.grid > .rowWithCheckbox.rowChecked {
  background-color: rgba(0, 174, 239, 0.1);
}

.checkbox {
  flex-basis: 24px;
  margin-right: 24px;
}
