.header {
  width: max-content;
  border-radius: 5px 5px 0 0;
  background-color: #416199;
}

.text {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 8px 16px 8px 16px;
}

.active {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  color: #152f5c;
}
