@value gTransitionDuration, gTransitionTimingFunction from "../../Styleguide/variablesCommon.module.css";

.container {
  user-select: none;
}

.input {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.input:checked + .checkbox {
  border-color: #021c45;
}

.input:checked + .checkbox svg path {
  fill: #021c45;
}

.input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}

.checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid #d6dce7;
  border-radius: 24px;
  /* box-sizing: content-box; */
  /* float: left; */
}

.checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}

.checkbox svg path {
  fill: none;
  stroke: #021c45;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;

  transition: all gTransitionDuration gTransitionTimingFunction;
}

.checkbox svg polyline {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;

  transition: all gTransitionDuration gTransitionTimingFunction;
}

label:hover > .container > .checkbox svg > path {
  stroke-dashoffset: 0;
}

/*.check{display: inline-block;*/
/*  transform: rotate(45deg);*/
/*  height: 12px;*/
/*  width: 6px;*/
/*  border-bottom: 7px solid #78b13f;*/
/*  border-right: 7px solid #78b13f;*/
/*}*/
