[class^="icon-"],
[class*=" icon-"],
.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-combined-shape:before {
  content: "\e900";
}
.icon-icon-calend:before {
  content: "\e901";
}
.icon-icon-call:before {
  content: "\e902";
}
.icon-icon-lock:before {
  content: "\e903";
}
.icon-icon-plus-l:before {
  content: "\e906";
}
.icon-icon-plus:before {
  content: "\e907";
}
.icon-icon-geo:before {
  content: "\e908";
}
.icon-icon-fire:before {
  content: "\e90b";
}
.icon-icon-pencil:before {
  content: "\e90c";
}
.icon-icon-eye:before {
  content: "\e90d";
}
.icon-icon-add:before {
  content: "\e90e";
}
.icon-icon-camera:before {
  content: "\e90f";
}
.icon-icon-camera-download-copy3x:before {
  content: "\e910";
}
.icon-icon-photo:before {
  content: "\e911";
}
.icon-icon-layout:before {
  content: "\e912";
}
.icon-icon-trash:before {
  content: "\e913";
}
.icon-icon-close:before {
  content: "\e914";
}
.icon-icon-question:before {
  content: "\e915";
}
.icon-arrow-active:before {
  content: "\e904";
}
.icon-arrow-passive:before {
  content: "\e905";
}
.icon-arrow-passive-down:before {
  content: "\e909";
}
.icon-cancel-checkbox:before {
  content: "\e917";
}
.icon-clock-list:before {
  content: "\e91a";
}
.icon-filter:before {
  content: "\e921";
}
.icon-delete:before {
  content: "\e91b";
}
.icon-select-arrow:before {
  content: "\e92d";
}
.icon-okay-checkbox:before {
  content: "\e927";
}
.icon-okay-list:before {
  content: "\e928";
}
.icon-inactive .path1:before {
  content: "\e924";
  color: rgb(65, 65, 65);
}
.icon-inactive .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-inactive .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-check-stream .path1:before {
  content: "\e918";
  color: rgb(64, 64, 64);
}
.icon-check-stream .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-download:before {
  content: "\e91c";
}
.icon-play-list .path1:before {
  content: "\e929";
  color: rgb(64, 64, 64);
}
.icon-play-list .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-edit:before {
  content: "\e91d";
}
.icon-fullscreen .path1:before {
  content: "\e922";
  color: rgb(64, 64, 64);
}
.icon-fullscreen .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-reload .path1:before {
  content: "\e92b";
  color: rgb(64, 64, 64);
}
.icon-reload .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
